.testContainer {
    margin: 1vw .7vw 1.5vw .7vw;
    display: flex;
    justify-content: space-between;

}

.testMainContent {
    width: 94%;
}

.mainContentGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.H1 {
    padding: .7vw;
    font-size: 2.5vw;
    background: #469C9A;
    border-radius: 1vw;
}

.mainCheckbox {
    padding: 1vw 1vw 1vw 1.5vw;
    margin: 1vw 2vw 0 0;
    border: 3px solid #469C9A;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
}

.mainCheckboxWrapper {
    margin: 1vw 0 0 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.mainCheckboxWrapper:first-child {
    margin-top: 0;
}

.mainCheckboxInput {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.mainCheckboxLabel {
    display: flex;
    text-align: start;
    align-items: center;
    user-select: none;
}

.mainCheckboxLabel::before {
    content: '';
    flex-shrink: 0;
    flex-grow: 0;
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 1vw;
}

.mainCheckboxInput:checked+label::before {
    background-color: #407d7c;
}

.mainCheckboxLabelDls {
    display: flex;
    text-align: start;
    width: 100%;
    align-items: center;
    user-select: none;
    padding: .5vw 2vw .5vw 2vw;
    margin-bottom: 1vw;
    border: 1px solid #469C9A;
    border-radius: 3vw;
}

.mainCheckboxLabelDls::before {
    content: '';
    flex-shrink: 0;
    flex-grow: 0;
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 1vw;
}

.mainCheckboxInputDls:checked+label::before {
    background-color: #407d7c;
}

.mainCheckboxInputDls {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.mainCheckboxDLS {
    top: 0;
    right: calc(100% + 2vw);
    width: calc(50% - 2vw);
    position: absolute;
}

.addBtn {
    display: flex;
    width: 100%;
    align-items: center;
    user-select: none;
    padding: 0.5vw 2vw 0.5vw 2vw;
    margin-bottom: 1vw;
    cursor: pointer;
    border: 1px solid #469C9A;
    border-radius: 3vw;
}

.testBlock {
    position: relative;
    padding: 2vw 0 2vw 0;
    margin: 1vw auto 0 auto;

    background: #202833;
    border-radius: 3vw;
}


.TestName {
    padding: 1vw 0 2vw 0;
    margin: 1vw auto 0 auto;

    background: #202833;
    border-radius: 3vw;

}

.TestNameInputContainer {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.TestNameInput {
    padding: .7vw;
    font-size: 1.2vw;
    border-radius: 3vw;
    background: #D9D9D9;
}

.answerInputContainer {
    margin: 1vw auto 0 auto;
    position: relative;
}

.svgPlus {
    width: 3vw;
    position: absolute;
    left: -.5%;
    cursor: pointer;
}

.answerInput {
    padding: .7vw;
    margin: 1vw auto 0 auto;
    width: 90%;
    display: block;
    font-size: 1.2vw;
    border-radius: 3vw;
    background: #D9D9D9;

}

.TestNameInputWrapper {
    width: 47%;
    display: flex;
    flex-direction: column;

}

.TestNameInputTitle {
    text-align: start;
    font-size: 1.8vw;
    -webkit-text-stroke: 1px #000000;
}

.TestSettingsBlock {
    padding: 1vw 0 2vw 0;
    margin: 1vw auto 0 auto;

    background: #202833;
    border-radius: 3vw;
}

.TestSettingsInputBlock {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.TestSettingsinputWrapper {
    margin-top: .5vw;
    width: 47%;
    display: flex;
    flex-direction: column;
}



.TestSettingsinputName {
    margin: 0 0 .2vw 1vw;
    text-align: start;
    font-size: 1vw;
}

.TestSettingsInputTitle {
    text-align: start;
    width: 100%;
    font-size: 1.8vw;
    -webkit-text-stroke: 1px #000000;
}

.TestSettingsinput {
    padding: 0.7vw;
    font-size: .95vw;
    border-radius: 3vw;
    background: #D9D9D9;
}

.textareaContainer {
    padding: 1vw 1vw 1vw 1vw;
    margin: 1vw 0 0 2vw;
    background: #202833;
    border-radius: 3vw;
}

.textareaTitle {
    font-size: 1.5vw;
}

.textareaCOntent {
    padding: 1vw;
    margin-top: 1vw;
    background: #D9D9D9;
    border-radius: 1vw;
    resize: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.answerInput:first-child {
    margin-top: 0;
}

.answerInputFileContainer {
    position: relative;
    padding: .3vw;
    margin: 1vw auto 0 auto;
    width: 90%;
    display: block;
    font-size: 1.2vw;
    border-radius: 3vw;
    background: #fff;
    display: flex;
    align-items: center;
    background: #D9D9D9;
}

.answerInputFile {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.answerInputFileText {
    padding: .4vw;
    background: #9B9B9B;
    border-radius: 3vw;
    border: 1px solid #202833;
    font-size: 1.2vw;
    transition: all .1s;
}

.answerInputFileText:hover {
    background: #d2d1d1;
}

.answerInputFileName {
    vertical-align: middle;
    margin-left: 1vw;
    color: #757575;
    font-size: 1.2vw;
}

.btnContainer {
    margin: 2vw auto 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btnContainerBtn {
    padding: .8vw;
    width: 48%;
    background: #202833;
    border: 1px solid #469C9A;
    font-size: 1.2vw;
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    cursor: pointer;
}

.btnContainerBtn:hover {
    background: #4a5b74;
}

.btnContainerBtnForm {
    margin: 1vw auto 0 auto;
    padding: .8vw;
    width: 70%;
    background: #202833;
    border: 1px solid #469C9A;
    font-size: 1.2vw;
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    color: #fff;
    cursor: pointer;

}

.btnContainerBtnForm:hover {
    background: #4a5b74;
    border: 1px solid #469C9A;

}