.inputPasswordBlock {
    display: flex;
    align-items: center;

}

.passwordValidationWrapper {
    padding-left: 5%;
    width: 60%;
}

.passwordValidationUl {
    display: flex;

    flex-wrap: wrap;
}

.passwordValidationUl li {
    width: 33.3%;
    color: #ffffff;    list-style-type: disc !important;
transition: all .2s linear;

}