.mainContainer {
    height: 100vh;
    display: flex;
    place-items: center;
}

.formContainer {
    padding: 3vh 0 3vh 0;
    width: 40vw;
    background: #202833;
    box-shadow: 0 0 150px #61cdcb93;
    border-radius: 15px;
    position: relative;
    transition: 1s linear;

}

.form_container {
    margin-top: 3vw;

}

.formInput {
    margin-bottom: 2vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2vw;
    padding: 0.5rem 1rem;
    width: 83%;
    height: 2.4vw;
    box-sizing: border-box;
    color-scheme: light;
}

.button {
    margin-top: 4vw;
    width: 83%;
    font-size: 1.4vw;
    color-scheme: light;
    background: #202833;
    color: #fff;
    border-radius: 8px;
    border: .2vw solid #469C9A;
    padding: 0.5em 1.1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    display: inline-block;

}

.button:hover {
    border-color: #646cff;
}

.noLogin {
    margin-top: 1vw;
    font-size: 1.4vw;
}

@keyframes loginErrorAni {
    0% {
        top: 2.3;
    }

    100% {
        top: 0;
    }
}
.loginErrorContainer{
    width: 100%;
    top: -2.3vw;    position: absolute;
height: 2.3vw;
    left: 0;
    overflow: hidden;
}
.loginError {
    width: 100%;
    border-radius: 1vw 1vw 0 0;
    position: absolute;
    top: 2vw;
    left: 0;
    font-size: 1.2vw;
    line-height: 2.3vw;
    background: #d34040;
    transition: top 1s linear;
    animation: loginErrorAni 1s forwards;
}